<configuration>
    <!-- Disables logging of Logback initialisation - remove if facing issue with logging config -->
    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />

    <property name="LOG_PATTERN" value="%date{ISO8601} [%X{Request-ID:-Server}] [%X{JwtUser:-&lt;anon>}] %-5level %logger{0} - %msg%n"/>

    <!-- Console appender -->
    <appender name="OUT" class="ch.qos.logback.core.ConsoleAppender">
        <target>SYSTEM_OUT</target>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- File appender  -->
    <!--    <appender name="OUT" class="ch.qos.logback.core.FileAppender">-->
    <!--        <file>/fuseki/logs/log.fuseki</file>-->
    <!--        <encoder>-->
    <!--            <pattern>${LOG_PATTERN}</pattern>-->
    <!--        </encoder>-->
    <!--    </appender>-->

    <!-- Root logger -->
    <root level="INFO">
        <appender-ref ref="OUT" />
    </root>

    <!-- Specific loggers -->
    <logger name="org.apache.kafka" level="WARN" />
    <logger name="io.telicent.jena.MockAS" level="WARN" />
    <logger name="io.telicent.SCacheGraph" level="WARN" />
    <logger name="io.telicent.jena.abac" level="WARN" />
    <logger name="org.apache.kafka.clients.NetworkClient" level="ERROR" />
    <logger name="io.telicent.core" level="INFO" />
    <logger name="org.apache.jena" level="INFO" />
    <logger name="org.apache.jena.arq.exec" level="INFO" />
    <logger name="org.apache.jena.riot" level="INFO" />
    <logger name="org.apache.jena.fuseki" level="WARN" />
    <logger name="org.apache.jena.fuseki.Fuseki" level="WARN" />
    <logger name="org.apache.jena.fuseki.Server" level="WARN" />
    <logger name="org.eclipse.jetty" level="WARN" />
    <logger name="org.apache.http" level="WARN" />
    <logger name="org.apache.shiro" level="WARN" />
    <logger name="org.apache.shiro.realm.text.IniRealm" level="ERROR" />

    <!-- Plain appender for NCSA format -->
    <appender name="PLAIN" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%m%n</pattern>
        </encoder>
    </appender>

    <!-- Request log -->
    <logger name="org.apache.jena.fuseki.Request" additivity="false" level="OFF">
        <appender-ref ref="PLAIN" />
    </logger>
</configuration>
